.row{
    padding:20px;
  }
  div{
    background-color:#292b2b;
  }
  footer{
    color:white;
    font-size: 14px;
    display:flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 2px -2px 5px #5a5f5f;
  }