div{
    background-color:#292b2b;
  }
  app-social{
    float: right;
    margin-top: 25px;
  }
  #logoap{
    width:150px;
  }
  .ingreso{
    width:150px;
    margin-right:0.5em;
  }
  .container{
    display:flex;
    justify-content: space-between;
    align-items: center;
  }