<div class="row" id="about">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
      <img src="../../../assets/FotoEnzo.jpg" class="img-fluid" id="fotoperfil">
    </div>

    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
      <div>
        <h1>Acerca de mi</h1>
          <p id="nombre"> {{persona.nombre}} {{persona.apellido}} </p>
          <p>Full Stack Developer Jr</p>

        <p >
          Tengo 19 años actualmente. Vivo en Chivilcoy, Provincia de Buenos Aires. Actualmente me encuentro estudiante el primer
          año de la carrera de "Tecnicatura en programacion" en la UTN (sede en chivilcoy). Apasionado por los juegos, la programacion y la vida digital.</p>
        </div>

    </div>
  </div>