<div class="row" id="hysskills">
    <h1>Hard and soft skills</h1>
  
  <div class="text-center col-sm-4 col-md-4 col-lg-2">
    <circle-progress
      [percent]="80"
      [radius]="70"
      [imageSrc]="'../assets/html.png'"
      [showImage]="true"
      [imageHeight]="70"
      [imageWidth]="70"
      [showUnits]="false"
      [showSubtitle]="false"
      [clockwise] = "false"
      [outerStrokeWidth]="10"
      [innerStrokeWidth]="3"
      [outerStrokeColor]="'#00cce3'"
      [innerStrokeColor]="'#e7e8ea'"
      [animation]="true"
      [animationDuration]="300"
  ></circle-progress>
  </div>
  
  <div class="text-center col-sm-4 col-md-4 col-lg-2">
    <circle-progress
      [percent]="70"
      [radius]="70"
      [imageSrc]="'../assets/CSS.png'"
      [showImage]="true"
      [imageHeight]="70"
      [imageWidth]="70"
      [showUnits]="false"
      [showSubtitle]="false"
      [clockwise] = "false"
      [outerStrokeWidth]="10"
      [innerStrokeWidth]="3"
      [outerStrokeColor]="'#00cce3'"
      [innerStrokeColor]="'#e7e8ea'"
      [animation]="true"
      [animationDuration]="300"
  ></circle-progress>
  </div>
  
  <div class="text-center col-sm-4 col-md-4 col-lg-2">
    <circle-progress
      [percent]="70"
      [radius]="70"
      [imageSrc]="'../assets/angularlog.png'"
      [showImage]="true"
      [imageHeight]="70"
      [imageWidth]="70"
      [showUnits]="false"
      [showSubtitle]="false"
      [clockwise] = "false"
      [outerStrokeWidth]="10"
      [innerStrokeWidth]="3"
      [outerStrokeColor]="'#00cce3'"
      [innerStrokeColor]="'#e7e8ea'"
      [animation]="true"
      [animationDuration]="300"
  ></circle-progress>
  </div>
  
  <div class="text-center col-sm-4 col-md-4 col-lg-2">
    <circle-progress
      [percent]="75"
      [radius]="70"
      [imageSrc]="'../assets/javalog.png'"
      [showImage]="true"
      [imageHeight]="70"
      [imageWidth]="70"
      [showUnits]="false"
      [showSubtitle]="false"
      [clockwise] = "false"
      [outerStrokeWidth]="10"
      [innerStrokeWidth]="3"
      [outerStrokeColor]="'#00cce3'"
      [innerStrokeColor]="'#e7e8ea'"
      [animation]="true"
      [animationDuration]="300"
  ></circle-progress>
  </div>
  
  <div class="text-center col-sm-4 col-md-4 col-lg-2">
    <circle-progress
      [percent]="75"
      [radius]="70"
      [imageSrc]="'../assets/js.png'"
      [showImage]="true"
      [imageHeight]="70"
      [imageWidth]="70"
      [showUnits]="false"
      [showSubtitle]="false"
      [clockwise] = "false"
      [outerStrokeWidth]="10"
      [innerStrokeWidth]="3"
      [outerStrokeColor]="'#00cce3'"
      [innerStrokeColor]="'#e7e8ea'"
      [animation]="true"
      [animationDuration]="300"
  ></circle-progress>
  </div>
  
  <div class="text-center col-sm-4 col-md-4 col-lg-2">
    <circle-progress
      [percent]="75"
      [radius]="70"
      [imageSrc]="'../assets/git.png'"
      [showImage]="true"
      [imageHeight]="70"
      [imageWidth]="70"
      [showUnits]="false"
      [showSubtitle]="false"
      [clockwise] = "false"
      [outerStrokeWidth]="10"
      [innerStrokeWidth]="3"
      [outerStrokeColor]="'#00cce3'"
      [innerStrokeColor]="'#e7e8ea'"
      [animation]="true"
      [animationDuration]="300"
  ></circle-progress>
  </div>
  
  <div class="text-center col-sm-4 col-md-4 col-lg-2">
    <circle-progress
      [percent]="90"
      [radius]="70"
      [title]="'Compromiso'"
      [titleFontSize]="'16'"
      [titleColor]="'#42adc2'"
      [showUnits]="false"
      [showSubtitle]="false"
      [clockwise] = "false"
      [outerStrokeWidth]="10"
      [innerStrokeWidth]="3"
      [outerStrokeColor]="'#00cce3'"
      [innerStrokeColor]="'#e7e8ea'"
      [animation]="true"
      [animationDuration]="300"
  ></circle-progress>
  </div>
  
  <div class="text-center col-sm-4 col-md-4 col-lg-2">
    <circle-progress
      [percent]="80"
      [radius]="70"
      [title]="'Puntualidad'"
      [titleColor]="'#42adc2'"
      [showUnits]="false"
      [showSubtitle]="false"
      [clockwise] = "false"
      [outerStrokeWidth]="10"
      [innerStrokeWidth]="3"
      [outerStrokeColor]="'#00cce3'"
      [innerStrokeColor]="'#e7e8ea'"
      [animation]="true"
      [animationDuration]="300"
  ></circle-progress>
  </div>
  
  <div class="text-center col-sm-4 col-md-4 col-lg-2">
    <circle-progress
      [percent]="80"
      [radius]="70"
      [title]="'Ingles'"
      [titleColor]="'#42adc2'"
      [showUnits]="false"
      [showSubtitle]="false"
      [clockwise] = "false"
      [outerStrokeWidth]="10"
      [innerStrokeWidth]="3"
      [outerStrokeColor]="'#00cce3'"
      [innerStrokeColor]="'#e7e8ea'"
      [animation]="true"
      [animationDuration]="300"
  ></circle-progress>
  </div>
  
  <div class="text-center col-sm-4 col-md-4 col-lg-2">
    <circle-progress
      [percent]="80"
      [radius]="70"
      [title]="'Trabajo en equipo'"
      titleFontSize="13"
      [titleColor]="'#42adc2'"
      [showUnits]="false"
      [showSubtitle]="false"
      [clockwise] = "false"
      [outerStrokeWidth]="10"
      [innerStrokeWidth]="3"
      [outerStrokeColor]="'#00cce3'"
      [innerStrokeColor]="'#e7e8ea'"
      [animation]="true"
      [animationDuration]="300"
  ></circle-progress>
  </div>
  
  <div class="text-center col-sm-4 col-md-4 col-lg-2">
    <circle-progress
      [percent]="80"
      [radius]="70"
      [title]="'Creatividad'"
      [titleColor]="'#42adc2'"
      [showUnits]="false"
      [showSubtitle]="false"
      [clockwise] = "false"
      [outerStrokeWidth]="10"
      [innerStrokeWidth]="3"
      [outerStrokeColor]="'#00cce3'"
      [innerStrokeColor]="'#e7e8ea'"
      [animation]="true"
      [animationDuration]="300"
  ></circle-progress>
  </div>
  
  <div class="text-center col-sm-4 col-md-4 col-lg-2">
    <circle-progress
      [percent]="80"
      [radius]="70"
      [title]="'R. problemas'"
      titleFontSize="15"
      [titleColor]="'#42adc2'"
      [showUnits]="false"
      [showSubtitle]="false"
      [clockwise] = "false"
      [outerStrokeWidth]="10"
      [innerStrokeWidth]="3"
      [outerStrokeColor]="'#00cce3'"
      [innerStrokeColor]="'#e7e8ea'"
      [animation]="true"
      [animationDuration]="300"
  ></circle-progress>
  </div>
  
  </div>
